@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
.student-card-container {
  background: url('../public/background-img.jpg');
}
.ReactModal__Content {
  height: 350px;
  max-width: 29rem;
  width: 100%;
    left: 50% !important;
    transform: translateX(-50%);
}